# IEEE FRAUD NOTEBOOK

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
from sklearn.metrics import roc_auc_score
import gc

from sklearn.preprocessing import LabelEncoder

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

pd.set_option('max_columns', None)

In [2]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [3]:
%%time

print('Loading data...')

train_identity = pd.read_csv('train_identity.csv', index_col='TransactionID')
print('\tSuccessfully loaded train_identity!')

train_transaction = pd.read_csv('train_transaction.csv', index_col='TransactionID')
print('\tSuccessfully loaded train_transaction!')

test_identity = pd.read_csv('test_identity.csv', index_col='TransactionID')
print('\tSuccessfully loaded test_identity!')

test_transaction = pd.read_csv('test_transaction.csv', index_col='TransactionID')
print('\tSuccessfully loaded test_transaction!')

sub = pd.read_csv('sample_submission.csv')
print('\tSuccessfully loaded sample_submission!')

test_identity.columns = train_identity.columns

print('Data was successfully loaded!\n')

Loading data...
	Successfully loaded train_identity!
	Successfully loaded train_transaction!
	Successfully loaded test_identity!
	Successfully loaded test_transaction!
	Successfully loaded sample_submission!
Data was successfully loaded!

Wall time: 1min 16s

In [6]:
print('Merging data...')
train = train_transaction.merge(train_identity, how='left', left_index=True, right_index=True)
test = test_transaction.merge(test_identity, how='left', left_index=True, right_index=True)

# "isFraud" bagımlı degiskenini y_train degiskenine atadık
y_train = train["isFraud"]
# Train bagimsiz degiskenleri
df_train = train.drop("isFraud", axis=1)

print('Data was successfully merged!\n')

del train_identity, train_transaction, test_identity, test_transaction

print(f'Train dataset has {train.shape[0]} rows and {train.shape[1]} columns.')
print(f'Test dataset has {test.shape[0]} rows and {test.shape[1]} columns.')

gc.collect()

Merging data...
Data was successfully merged!

Train dataset has 590540 rows and 433 columns.
Test dataset has 506691 rows and 432 columns.

39

### NOT: LÜTFEN YUKARIDAKİ HİÇBİR DEĞERİ VE DEĞİŞKENİ DEĞİŞTİRMEYİN.

Örneğin train dosyasında değişiklik yapacaksanız aşağıdaki gibi copyasını alarak yapınız.
df_train_copya = df_train.copy()

# 1. Ozan

# 2. Ümit

# 3. Muhammet(Alm)

# 4. Ismail

### 1-) (card1 - card4 - addr1) ile (TransactionAmt - id_02 - D15) arasinda uretilen degiskenler

- https://www.kaggle.com/davidcairuz/feature-engineering-lightgbm

In [ ]:
columns_a = ['TransactionAmt', 'id_02', 'D15']
columns_b = ['card1', 'card4', 'addr1']

for col_a in columns_a:
    for col_b in columns_b:
        for df in [train, test]:
            df[f'{col_a}_to_mean_{col_b}'] = df[col_a] / df.groupby([col_b])[col_a].transform('mean')
            df[f'{col_a}_to_std_{col_b}'] = df[col_a] / df.groupby([col_b])[col_a].transform('std')

#### card1 - TransactionAmt

- card1 degiskeni onemli bir degisken, kullanici belirlemede ise yarayabilecek bir degisken, burada yapilan her bir harcamanin (transactionID) card1 bilgisi var ama bu card ile baska harcamalarda yapilmis, bu card ile yapilan toplam harcamalarin ortalamasini (std icin de yapiyor) belirliyor ve sadece bu harcamadaki miktar ile oranina bakiyor,

- mesela x card, 3 farkli islemde kullanilmis ve her islemde 5, 10, 15 para birimlik harcama yapilmis, sonucta x card islem basina harcama ortalamasi 10

- 1.islemde gercek harcama 5/ ortalama harcama 10
- 2.islemde 10/10
- 3.islemde 15/10 

- bu sekilde her islemdeki card'in o islemdeki harcamasinin toplam card harcama ortalamasina oranini tespit ediyoruz

- bu islem hem MEAN hem de STD icin ayri ayri yapiliyor

In [11]:
(train['TransactionAmt'] / train.groupby('card1')['TransactionAmt'].transform('mean')).head(30)

TransactionID
2987000    0.194580
2987001    0.123779
2987002    0.608398
2987003    0.405029
2987004    0.515625
2987005    0.365234
2987006    1.560547
2987007    2.994141
2987008    0.105164
2987009    0.958984
2987010    1.289062
2987011    0.412598
2987012    0.569824
2987013    0.365234
2987014    0.080994
2987015    0.868164
2987016    0.572754
2987017    0.589355
2987018    0.494141
2987019    1.722656
2987020    0.234741
2987021    1.510742
2987022    0.261230
2987023    1.162109
2987024    0.686035
2987025    0.985840
2987026    1.161133
2987027    0.819824
2987028    0.170288
2987029    0.301514
Name: TransactionAmt, dtype: float16

#### card4 - TransactionAmt

- card4 kartin visa, mastercard, debit vs... olup olmadigini bilgisini tutuyor, burada da ayni yukarida oldugu gibi, her bir islemdeki tutarin genel ortalamaya oranini veriyor

In [12]:
(train['TransactionAmt'] / train.groupby('card4')['TransactionAmt'].transform('mean')).head(30)

TransactionID
2987000    0.257812
2987001    0.219116
2987002    0.443115
2987003    0.377686
2987004    0.377686
2987005    0.368164
2987006    1.194336
2987007    3.173828
2987008    0.112671
2987009    0.883789
2987010    0.573242
2987011    0.124634
2987012    0.375488
2987013    0.300537
2987014    0.078857
2987015    0.435303
2987016    0.225342
2987017    0.755371
2987018    0.360107
2987019    1.397461
2987020    0.294678
2987021    1.208984
2987022    0.375488
2987023    0.815430
2987024    0.555176
2987025    0.815430
2987026    1.381836
2987027    0.360107
2987028    0.151123
2987029    0.277832
Name: TransactionAmt, dtype: float16

#### addr1 - TransactionAmt
- addr1 degiskeni zipcode bilgisi veriyor, yani ayni zipcode'dan yapilan islemlerin tamamindaki miktarin ortalamasi ile ayni zipcode'dan yapilan her bir islemin orani hesaplanmis

In [14]:
(train['TransactionAmt'] / train.groupby('addr1')['TransactionAmt'].transform('mean')).head(30)

TransactionID
2987000    0.509766
2987001    0.186035
2987002    0.445801
2987003    0.368652
2987004    0.306885
2987005    0.374023
2987006    0.972656
2987007    2.710938
2987008    0.105347
2987009    0.781738
2987010         NaN
2987011         NaN
2987012    0.334229
2987013    0.302246
2987014    0.066223
2987015    0.431152
2987016    0.182739
2987017    0.668457
2987018    0.338867
2987019    1.276367
2987020    0.210815
2987021    1.069336
2987022    0.270264
2987023    0.660156
2987024    0.507324
2987025    0.875488
2987026    1.063477
2987027    0.336670
2987028    0.126831
2987029    0.247314
Name: TransactionAmt, dtype: float16

#### card1 - id_02

- card1'i grupluyor ve id_02 degerlerinin mean ve std'sini cikartiyor, 
- id_02 degeri 1'den baslayip yaklasik 1 milyona kadar artan, ortalamasi 175000 civari olan bir sayisal deger, ne ifade ettigini anlayamadim
- id_02'yi anlayamadigim icin buradaki feature uretmenin de mantigini cozemedim

In [15]:
(train['id_02'] / train.groupby('card1')['id_02'].transform('mean')).head(30)

TransactionID
2987000         NaN
2987001         NaN
2987002         NaN
2987003         NaN
2987004    0.764773
2987005         NaN
2987006         NaN
2987007         NaN
2987008    0.855794
2987009         NaN
2987010    1.339566
2987011    0.835838
2987012         NaN
2987013         NaN
2987014         NaN
2987015         NaN
2987016    0.137576
2987017    0.617329
2987018         NaN
2987019         NaN
2987020         NaN
2987021         NaN
2987022         NaN
2987023         NaN
2987024         NaN
2987025         NaN
2987026         NaN
2987027         NaN
2987028         NaN
2987029         NaN
Name: id_02, dtype: float32

#### card4 - id_02  - addr1 - id_02
- benzer sekilde id_02 degiskeni ile card4 ve addr1 arasindaki iliskiyi de anlayamadim

#### (card1 - D15), (card4 - D15), (addr1 - D15)
- D15 degiskeni hakkinda bir kanaat olusmadigindan bu yeni feature olusturmanin mantigi da kavranamadi.

# 5. Berkan

# 6. Muhammet (Nor)

# LIGHT GBM

# XGBOOST  MODELI